.btn {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $body-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: $btn-border-width solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  
    @include hover() {
        color: $body-color;
        text-decoration: none;
    }
  
    &:focus,
    &.focus {
        outline: 0;
    }
  
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
    }
  
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &-primary {
        background-color: $primary;
        font-weight: $font-weight-medium;
        margin: 0 auto;
        
        @include mq('md', min) {
            font-size: rem(20px);
            width: rem(230px);
            height: rem(48px);
        }
    }

    &-order {
        background: #d61114;
        color: white;
        border-radius: 30px;
        padding: 11px 50px;
        font-size: 14px;
        max-width: 170px;
        font-weight: 500;
        transition: all .3s;

        &:hover {
            background-color: $white;
            color: $dark;
        }
    }
}