.full-image {
    width: 100%;
}

.p-section {
    @include mq('md', min) {
        padding: rem(50px) 0;
    }
}

.p-mainvisual {
    width: 100%;
    height: calc(var(--vh, .7vh)*100);
    position: relative;
    overflow: hidden;
    z-index: 99;

    &__slider {
        img {
            width: 100%;
            height: 100%;
            transform: scale(1);
            transition: all linear 7.5s;
            object-fit: cover;
        }

        .slick-animate {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.p-mv {
    width: 100%;
    height: 30vh;
    position: relative;
    overflow: hidden;
    
    &__media {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;

        &::after {
            content: "";
            background-color: rgba($color: #000000, $alpha: .5);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &.animate_animated {
        .p-mv__media {
            animation: imageScale 5s ease 0s;
        }
    }

    @include mq("md", min) {
        min-height: rem(600px);
    }

    &__ttl {
        color: #fff;
        font-size: rem(27px);
        line-height: calc(37 / 27);
        font-weight: $font-weight-medium;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 rem(10px) #000, 0 0 rem(10px) rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        text-align: center;

        @include mq("md", min) {
            font-size: rem(36px);
            line-height: calc(46 / 26);
        }
    }
}

.p-news {
    .lst-news {
        &__item {
            display: flex;
            gap: rem(25px);
        }

        &__media {
            position: relative;
            overflow: hidden;

            @include mq('md', min) {
                flex: 0 0 rem(445px);
            }

            img {
                transition: transform 1s ease;
            }
        }

        &:hover {
            .lst-news__media {
                img {
                    transform: scale(1.02);
                }
            }
        }
    }
}

.p-contact {
    @include mq('md', min) {
        display: flex;
    }

    & > * {
        flex: 1;
    }

    &__map {
        @include mq('md') {
            margin-bottom: rem(50px);

        }
        iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding: rem(25px);

        @include mq('md', min) {
            padding: rem(50px);
        }
    }
}

.p-address {
    &__content {
        text-align: center;
        padding-left: rem(30px);

        p {
            font-size: rem(20px);
            font-weight: 500;
        }
    }
}

.p-form {
    &__row {
        &:not(:last-child) {
            @include mq('md', min) {
                margin-bottom: rem(20px);
            }
        }
        
        &.--flex {
            display: flex;
            gap: rem(20px);

            & > div {
                flex: 1;
            }
        }
    }
}

.p-prd {
    @include mq('md', min) {
        padding: rem(80px) 0;
    }
    &__wrap {
        display: flex;
    }

    &__col {
        flex: 1;
    }
}

.lst-card {
    &__item {
        display: flex;

        &:not(:last-child) {
            padding-bottom: rem(20px);
            margin-bottom: rem(20px);
            border-bottom: 1px dashed gray;
        }
    }

    &__media {
        width: 20%;
        border-radius: rem(10px);
        overflow: hidden;
    }

    &__content {
        padding-left: rem(20px);
    }

    &__ttl {
        font-size: rem(16px);
    }

    &__price {
        color: #db1a2a;
        font-weight: 500;
        font-size: rem(16px);
        margin-left: auto;
    }
}