* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	font-size: $font-size-reset;
	overflow-x: hidden;
	
	&.noscroll {
		position: fixed;
		left: 0;
		right: 0;
		width: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}

body {
	margin: 0;
	font-family: $font-family-base;
	@include font-size($font-size-base);
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $body-color;
	text-align: left;
	background-color: $body-bg;
	position:relative;
	overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

ol,
ul,
dl {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

b,
strong {
  	font-weight: $font-weight-bold;
}

a {
	background-color: transparent; // Remove the gray background on active links in IE 10.
	color: inherit;
	text-decoration: none;
}

img {
	vertical-align: middle;
	border-style: none; // Remove the border on images inside links in IE 10-.
	max-width: 100%;
	height: auto;
}

table {
	border-collapse: collapse; // Prevent double borders
}

th {
	font-weight: $table-th-font-weight;
	text-align: inherit;
	text-align: -webkit-match-parent;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0; // Remove the margin in Firefox and Safari
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
  	overflow: visible; // Show the overflow in Edge
}

button,
select {
  	text-transform: none; // Remove the inheritance of text transform in Firefox
}

select {
	word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  	-webkit-appearance: button;
}

textarea {
	overflow: auto; // Remove the default vertical scrollbar in IE.
	// Textareas should really only resize vertically so they don't break their (horizontal) containers.
	resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  	height: auto;
}

[type="search"] {
	outline-offset: -2px; // 2. Correct the outline style in Safari.
	-webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

[hidden] {
	display: none !important;
}

.aligncenter {
	text-align: center;
}

.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

img {
	&.aligncenter {
		display: block;
		margin: auto;
	}

	&.alignright {
		display: block;
		margin-left: auto;
	}
	
	&.alignleft {
		display: block;
		margin-right: auto;
	}
}